.DS_Store
.venv

# Packages
*.py[cod]
*.egg
/.eggs
*.egg-info
dist
build
eggs
sdist

# Unit test / coverage reports
.coverage
.tox

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.bak

# Autohelp
autogenerate_config_docs/venv
autogenerate_config_docs/sources
autogenerate_config_docs/*-conf-changes-*.xml

# sitemap
sitemap/sitemap_docs.openstack.org.xml

# Files created by releasenotes build
releasenotes/build

# repo pulled down by doc-tools-update-cli-reference
openstack-manuals
