# This is the list of the python-PROJECTclient packages
# to document the latest run of openstack-auto-commands
# for creation of files in openstack-manuals.

python-ceilometerclient >= 1.0.10
python-cinderclient >= 1.0.8
python-glanceclient >= 0.12.0
python-heatclient >= 0.2.9
# python-ironicclient >= 0.1.2
python-keystoneclient >= 0.8
python-neutronclient >= 2.3.4
python-novaclient >= 2.17.0
# python-saharaclient >= 0.7.0
python-swiftclient >= 2.0.3
python-troveclient >= 1.0.5
