include README.rst
include AUTHORS 
include LICENSE
include RELEASE_NOTES.rst
recursive-include bin *
recursive-include doc *
recursive-include tools *
recursive-include sitemap *
recursive-include os_doc_tools *

recursive-exclude * .gitignore
exclude .gitreview
